<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="box24.com.box24sdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ActivitySGWashboxMenu"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.ActivitySGWashboxDrop"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ActivitySGWashboxDropQuickPin"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ActivityWashboxDialogDateTime"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ActivityWashboxServiceLocker"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ActivityWashboxServicePic"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ActivityWashboxTrackerDetail"
            android:screenOrientation="portrait"/>
    </application>

</manifest>