<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="box24.com.box24sdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".activity.ActivityBox24Menu"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.ActivityBox24Drop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityBox24DropQuickPin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityBox24Locker"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityBox24Pic"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityBox24Introduce"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityBox24Location"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityLocation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityLocationDetail"
            android:screenOrientation="portrait" />
    </application>

</manifest>